/*.sdf
/EmptyExecutable/Debug
/EmptyExecutable/Release
/InfiniteLoopTimeLimit/Debug
/InfiniteLoopTimeLimit/Release
/Return47Error/Debug
/Return47Error/Release
/SimpleEcho/Debug
/SimpleEcho/Release
/HelloWorld/Debug
/HelloWorld/Release
/Release
/Debug
